{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'task/css/signup.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+RBg5f3VXn01b8fyF1Rl5x6xWd2L6W5eY1QKMjtr5qc2O5KM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <title>Cadastro</title>
    <style>
        .tab_one{
            background-color: #2e1e45;
        }

        .conta_text{
            color: #2e1e45;
        }

        .button_cadastrar{
            background-color: #2e1e45;
        }
    </style>
</head>
<body>
    <div class="container_div">
        <div class="tab_one">

            <h1 class="to_h1">To-do-list</h1>
            <div class="div_text">
                <h2 class="to_h2">Bem-vindo</h2>
                <h2 class="to_h2">de volta!</h2>
                <h3 class="to_h3">Acesse sua conta agora</h3>
                <h3 class="to_h3">mesmo.</h3>
            </div>

            <a href="/signin" class="link_enter">ENTRAR</a>
        </div>
        <div class="tab_two">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <div class="texto_two">
                <h2 class="conta_text">Crie sua conta</h2>
                <h2 class="dados_text">Preencha seus dados</h2>
            </div>

            <form method="POST">{% csrf_token %}

                <div class="form_main">
                    <div class="ipt_text">
                        <label for="username">
                            <img src="{% static 'task/img/profile.svg' %}" alt="">
                            <input type="text" class="form-control" id="username" name="username" placeholder="Nome">
                        </label>
                    </div>
                    <div class="ipt_text">
                        <label for="email">
                            <img src="{% static 'task/img/email.svg' %}" alt="">
                            <input type="email" name="email" id="email" placeholder="E-mail">
                        </label>
                    </div>
                    <div class="ipt_text">
                        <label for="senha">
                            <img src="{% static 'task/img/senha.svg' %}" alt="">
                            <input type="password" class="form-control" id="senha1" name="senha1" placeholder="Senha">
                        </label>
                    </div>
                    <div class="ipt_text">
                        <label for="senha">
                            <img src="{% static 'task/img/senha.svg' %}" alt="">
                            <input type="password" class="form-control" id="senha2" name="senha2" placeholder="Confirmar senha">
                        </label>
                    </div>
                    <button type="submit" class="button_cadastrar">CADASTRAR</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
{% endblock %}
