{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'task/css/signup.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap" rel="stylesheet">
    <title>Cadastro</title>
    <style>
        .tab_one{
            background-color: #2e1e45;
        }

        .conta_text{
            color: #2e1e45;
        }

        button{
            background-color: #2e1e45;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="tab_one">

            <h1>To-do-list</h1>
            <div class="div_text">
                <h2>Bem-vindo</h2>
                <h2>de volta!</h2>
                <h3>Acesse sua conta agora</h3>
                <h3>mesmo.</h3>
            </div>
        </div>
        <div class="tab_two">
            <div class="texto_two">
                <h2 class="conta_text">Entre na sua conta</h2>
                <h2 class="dados_text">Preencha seus dados</h2>
            </div>

            <form method="POST" action="/signin/">

                {{error}}

                {% csrf_token %}

                <div class="form_main">
                    <div class="ipt_text">
                        <label for="username">
                            <img src="{% static 'task/img/caceta.svg' %}" alt="">
                            <input type="text" class="form-control" id="username" name="username" placeholder="Nome">
                        </label>
                    </div>
                    <div class="ipt_text">
                        <label for="senha">
                            <img src="{% static 'task/img/senha.svg' %}" alt="">
                            <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha">
                            <img src="{% static 'task/img/olho.png' %}" alt="" id="olho">
                        </label>
                    </div>
                    <button type="submit">ENTRAR</button>
                </div>
            </form>
        </div>
    </div>
</body>

<script>
    document.addEventListener("DOMContentLoaded", function() {
    const senhaInput = document.getElementById("senha");
    const mostrarSenhaButton = document.getElementById("olho");

    mostrarSenhaButton.addEventListener("click", function() {
        if (senhaInput.type === "password") {
            senhaInput.type = "text";
        } else {
            senhaInput.type = "password";
        }
    });
});
</script>
</html>
{% endblock %}
