{% extends 'menu.html' %}

{% block content %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'task/css/tasks.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>To-do-list</title>
</head>
<body>
    <form action="/create/tasks" method="POST">
        {{error}}
        {% csrf_token %}
        <h1>To Do List</h1>
        <div class="content">
            <div class="content--add-item">
                <input type="text" id="title" name="title">
                <button id="btn-new-task" title="Clique aqui para adicionar uma nova task">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                    </svg>
                </button>
            </div>
        </div>
    </form>
    <ol id="to-do-list">
        {% for task in tasks %}
        <li>
            <a href="{% url 'task_detalhes' task.id %}" style="text-decoration: none; color: #FFF;">
                <strong class="{% if task.important %}fw-bold text-success{% else %}fw-bold{% endif %}">
                    {{ task.title }}
                </strong>
            </a>
            <div class="div_buttons">
                <form action="{% url 'deleted_tarefa' task.id %}" method="POST">
                    {% csrf_token %}
                    <button id="btn-ok">
                        <img src="{% static 'task/img/lixeira-de-reciclagem.svg' %}" alt="" width="16" height="16">
                    </button>
                </form>
                <form action="{% url 'mark_task_completed' task.id %}" method="POST">
                    {% csrf_token %}
                    <button id='btn-ok' class="complete-task" data-task-id="{{ task.id }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                        </svg>
                    </button>
                </form>
            </div>
        </li>
        {% endfor %}
    </ol>
    
</body>
</html>
{% endblock %}
