{% extends 'menu.html' %}


{% block content %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'task/css/tasks.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap" rel="stylesheet">
    <title>To-do-list</title>
</head>
<body style="background-color: rgb(14,14,14);">
    <h1>To Do List</h1>
    <ol class="to-do-list">
        {% for task in tasks %}
        <li>
            {% if task.important %}
            <a href="{% url 'task_detalhes' task.id %}" style="text-decoration: none;">
                <div class="div_task">
                    <div class="div_title">
                        <h2 class="title text-success">{{ task.title }}</h2>
                    </div>
                    <div class="div_description" style="color: white;">
                        <p class="description">{{ task.description }}</p>
                    </div>
                </div>
            </a>
            {% else %}
            <a href="{% url 'task_detalhes' task.id %}" style="text-decoration: none;">
                <div class="div_task">
                    <div class="div_title" style="color: white;">
                        <h2 class="title">{{ task.title }}</h2>
                    </div>
                    <div class="div_description"  style="color: white;">
                        <p class="description">{{ task.description }}</p>
                    </div>
                </div>
            </a>
            {% endif %}
            <div class="div_buttons">
                <form  method="POST">
                    {% csrf_token %}
                    <a id="btn-ok" data-bs-toggle="modal" data-bs-target="#deleteTaskModal{{ task.id }}">
                        <img src="{% static 'task/img/lixeira-de-reciclagem.svg' %}" alt="" width="16" height="16">
                    </a>
                </form>
                <form method="POST">
                    {% csrf_token %}
                    <a id="btn-ok" data-bs-toggle="modal" data-bs-target="#completeTaskModal{{ task.id }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                        </svg>
                    </a>
                </form>
            </div>
            <!-- Modal for deleting a task -->
            <div class="modal fade" id="deleteTaskModal{{ task.id }}" tabindex="-1" aria-labelledby="deleteTaskModalLabel{{ task.id }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content" style="color: black;">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteTaskModalLabel">Deletar Tarefa</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center">
                            <span class="text-danger"><i class="fas fa-trash-alt fa-3x mt-4"></i></span>
                            <div class="mt-4" style="height: 50px; text-transform: none; font-size: 20px;">Você tem certeza que deseja deletar a tarefa?</div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancelar</button>
                            <form action="{% url 'deleted_tarefa' task.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-danger btn-sm">Deletar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal for completing a task -->
            <div class="modal fade" id="completeTaskModal{{ task.id }}" tabindex="-1" aria-labelledby="completeTaskModalLabel{{ task.id }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content" style="color: black;">
                        <div class="modal-header">
                            <h5 class="modal-title" id="completeTaskModalLabel"><i></i> Completar Tarefa</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center">
                            <span class="text-success"><i class="fas fa-check fa-3x mt-4"></i></span>
                            <div class="mt-4" style="height: 50px; text-transform: none; font-size: 20px;">Você tem certeza que deseja completar a tarefa ?</div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancelar</button>
                            <form action="{% url 'mark_task_completed' task.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-success btn-sm">Confirmar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        




        {% endfor %}
    </ol>
</body>
</html>
{% endblock %}
