{% extends 'menu.html' %}

{% block content %}

    <main class="container mt-5">
        <div class="row">
            <div class="col-md-5 offset-md-3">

                <h1 class="text-center">Tarefas Pendentes</h1>
                    <ul class="list-group pt-5">

                        {% for task in tasks %}
                            <a class="list-group-item {% if task.important %}list-group-item-success{% endif %}" href="{% url 'task_detalhes' task.id %}">
        
                                <header class="d-flex justify-content-between">
                                    {% if task.important %}
                                        <strong class="fw-bold text-success" id="importante">{{task.title}}</strong>
                                    {% else %}

                                        <strong class="fw-bold">{{task.title}}</strong>
                                    {% endif %}

                                    <p>By: {{ task.user.username }}</p>
                                </header>
                        {% endfor %}

                    </ul>
            </div>  
        </div>
    </main>

{% endblock %}
